@import "twitter/bootstrap/mixins";

.tweet-preview {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  .border-radius(5px);
  .box-shadow(0 1px 3px #ddd);
  .clearfix();
  &:hover {
    .box-shadow(0 1px 3px #999);
    cursor: hand;
  }
  
  .twitter-image {
    float: left;
    margin-right: 5px;
    .border-radius(5px);
  }
  
  .tweet-preview-header {
    float: left;
    width: 80%;

    .username {
      font-weight: bold;
      color: #333;
      font-size: 16px;
    }
    .nickname {
      color: #999;
      font-size: 12px;
    }
  }
}

.tweet_hint {
  text-align: left;
  margin-right: 34px;
  margin-top: 5px;
}

#doghouse {
  padding-bottom: 20px;
}

.doghouse-table {
  
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  .twitter-image-name {
    background: #dcdcdc;
    width: 80px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border: 4px solid #fff;
    .border-radius(5px);
    .box-shadow(0 0 4px #ccc);
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-left: -20px;
    margin-right: -20px;
  }
  #new_doghouse {
    
    .span6 {
      width: 100%;
    }
    .tweet-preview {
      width: 60%;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  
  #new_doghouse {

    .tweet-preview {
      width: 80%;
    }
  }
}

@media (max-width: 480px) {
  
   #new_doghouse {
    .tweet-preview {
      width: 90%;
    
      .tweet-preview-header {
        width: 79%;
      }
    }
  }
  
  .tweet-preview-form {
    
    .control-group {
      margin-bottom: 10px;
    }
  }
  
  .doghouse-table {
    
    th {
      font-size: 11px;
      line-height: 13px;
    }
    .twitter-image-name {
      width: auto;
      padding: 0;
      border: none;
      background: none;
      .box-shadow(0 0 0);
    }
    .twitter-username-column {
      width: 70px;
    }
    .created-on-column {
      width: 50px;
    }
    .hide-phone {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  #new_doghouse {
    .tweet-preview {
      width: 90%;
    }
  }
}
