<%= content_tag :footer do %>
  <hr />
  <p class="pull-right"><a href="#" data-bitly-type="bitly_hover_card">Back to top</a></p>
  <p>Programming by <a href="https://github.com/dubroe" target="_blank">Elan Dubrofsky</a>, design and front-end by <a href="http://jure-stern.si/en" target="_blank">Jure Stern</a></p>
  <p>Built with <a href="http://twitter.com/twitter" target="_blank" data-bitly-type="bitly_hover_card">@twitter</a> and <a href="http://rubyonrails.org/" target="_blank" data-bitly-type="bitly_hover_card">Ruby on Rails</a>.</p>
<% end %>